<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/blog.css" />
  </head>
  <body>
    <header><a href="/blog/">LuHeGi's Blog</a></header>
    <main>
      <!-- <form class="search-form" action="javascript:search();">
        <input
          class="search-txt"
          type="text"
          name="search-txt"
          placeholder="Type Here To Search"
        />
        <button class="search-btn" type="submit">Search</button>
      </form>
      <div class="search-results"></div> -->
      {{ content }}
    </main>
    <p class="footer">
      Copyright &copy; {{ 'now' | date: '%Y' }} - Luke Gilfoyle
    </p>
    <!-- <script src="/assets/js/blog.js"></script> -->
  </body>
</html>
