<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/blog.css" />
    {% feed_meta %} {% seo %}
  </head>
  <body>
    <header><a href="/blog.html">LuHeGi's Blog</a></header>
    <main class="blog">
      <h1>
        {{ page.title }}
        <span class="date">{{ page.date | date: '%Y/%m/%d' }}</span>
        <span class="author">
          {%- assign author = site.authors | where: "short_name", page.author |
          first -%} {%- if author -%}
          - <a href="{{ author.url }}">{{ author.name }}</a>
          {%- endif -%}
        </span>
      </h1>
      {{ content }}
    </main>

    <p class="footer">
      Copyright &copy; {{ 'now' | date: '%Y' }} - Luke Gilfoyle
    </p>
  </body>
</html>
